.header {
  padding: 5px;
  background: #354877;
  color: white;
}

.section-heading {
  margin-top: 0;
}

#home {
  width: 46px;
  height: 44px;
  background: url(LOGO_PU3.jpg) 0 0;
}

.links > a {
                color: #636b6f;
                padding: 0.25px;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }
.font-color{
  color: #ffffff;
}